force-app/main/default/flows/Status_Days_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Total_Days_In_In_Progress</name>
        <label>Total Days In &apos;In Progress&apos;</label>
        <locationX>314</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>varDaysInInProgress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inprogressdaysincrement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDaysInToDo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Days_In_To_Do__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDaysInInQC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Days_In_InQC__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Days_In_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_Days_In_In_QC</name>
        <label>Total Days In &apos;In QC&apos;</label>
        <locationX>578</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>varDaysInInQC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inqcdaysincrement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDaysInToDo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Days_In_To_Do__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDaysInInProgress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Days_In_InProgress__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Days_In_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_Days_In_To_Do</name>
        <label>Total Days In &apos;To Do&apos;</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>varDaysInToDo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tododaysincrement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDaysInInProgress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Days_In_InProgress__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDaysInInQC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Days_In_InQC__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Days_In_Status</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_For_Status</name>
        <label>Decision For Status</label>
        <locationX>446</locationX>
        <locationY>252</locationY>
        <defaultConnector>
            <targetReference>Update_Days_In_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Days_In_To_Do</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>To Do</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Total_Days_In_To_Do</targetReference>
            </connector>
            <label>Days In &apos;To Do&apos;</label>
        </rules>
        <rules>
            <name>Days_In_In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Total_Days_In_In_Progress</targetReference>
            </connector>
            <label>Days In &apos;In Progress&apos;</label>
        </rules>
        <rules>
            <name>Days_In_In_QC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In QC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Total_Days_In_In_QC</targetReference>
            </connector>
            <label>Days In &apos;In QC&apos;</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>inprogressdaysincrement</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!$Record.Days_In_InProgress__c}), 0, {!$Record.Days_In_InProgress__c}+1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>inqcdaysincrement</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!$Record.Days_In_InQC__c}), 0, {!$Record.Days_In_InQC__c}+1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>tododaysincrement</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!$Record.Days_In_To_Do__c}), 0, {!$Record.Days_In_To_Do__c}+1)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Status Days {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Status Days Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Days_In_Status</name>
        <label>Update Days In Status</label>
        <locationX>446</locationX>
        <locationY>552</locationY>
        <inputAssignments>
            <field>Days_In_InProgress__c</field>
            <value>
                <elementReference>varDaysInInProgress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Days_In_InQC__c</field>
            <value>
                <elementReference>varDaysInInQC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Days_In_To_Do__c</field>
            <value>
                <elementReference>varDaysInToDo</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_For_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Done</stringValue>
            </value>
        </filters>
        <object>Jira__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-05-15</startDate>
            <startTime>22:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varDaysInDone</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varDaysInInProgress</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varDaysInInQC</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varDaysInToDo</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
