force-app/main/default/flows/Status_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Total_In_Done</name>
        <label>Total In Done</label>
        <locationX>842</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>var_ToDo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.To_Do_Status_Count__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_InProgress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.In_Progress_Status_Count__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_InQC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.In_QC_Status_Count__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Records_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_In_Progress</name>
        <label>Total In Progress</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>var_InProgress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inprogressIncrement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ToDo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.To_Do_Status_Count__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_InQC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.In_QC_Status_Count__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Records_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_In_QC</name>
        <label>Total In QC</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>var_InQC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inqcincrement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_InProgress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.In_Progress_Status_Count__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ToDo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.To_Do_Status_Count__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Records_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_To_Do</name>
        <label>Total To Do</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>var_ToDo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>todoincrement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_InProgress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.In_Progress_Status_Count__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_InQC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.In_QC_Status_Count__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Records_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_For_Status</name>
        <label>Decision For Status</label>
        <locationX>578</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Update_Records_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Decision_For_To_Do</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>To Do</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Total_To_Do</targetReference>
            </connector>
            <label>Decision For To Do</label>
        </rules>
        <rules>
            <name>Decision_For_In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Total_In_Progress</targetReference>
            </connector>
            <label>Decision For In Progress</label>
        </rules>
        <rules>
            <name>Decision_For_In_QC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In QC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Total_In_QC</targetReference>
            </connector>
            <label>Decision For In QC</label>
        </rules>
        <rules>
            <name>Decision_For_Done</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Done</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Total_In_Done</targetReference>
            </connector>
            <label>Decision For Done</label>
        </rules>
    </decisions>
    <description>with custom function.</description>
    <environments>Default</environments>
    <formulas>
        <name>doneincrement</name>
        <dataType>Number</dataType>
        <expression>IF( ISNULL({!$Record.Done_Status_Count__c}), 1,  {!$Record.Done_Status_Count__c}+1)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>inprogressIncrement</name>
        <dataType>Number</dataType>
        <expression>IF( ISNULL({!$Record.In_Progress_Status_Count__c}), 1,  {!$Record.In_Progress_Status_Count__c}+1)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>inqcincrement</name>
        <dataType>Number</dataType>
        <expression>IF( ISNULL({!$Record.In_QC_Status_Count__c}), 1,  {!$Record.In_QC_Status_Count__c}+1)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>checks if record is inserted.</description>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>todoincrement</name>
        <dataType>Number</dataType>
        <expression>IF( ISNULL({!$Record.To_Do_Status_Count__c}), 1,  {!$Record.To_Do_Status_Count__c}+1)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Status Update {!$Flow.CurrentDateTime}</interviewLabel>
    <isOverridable>true</isOverridable>
    <label>Status Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Records 1</label>
        <locationX>578</locationX>
        <locationY>587</locationY>
        <inputAssignments>
            <field>In_Progress_Status_Count__c</field>
            <value>
                <elementReference>var_InProgress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>In_QC_Status_Count__c</field>
            <value>
                <elementReference>var_InQC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>To_Do_Status_Count__c</field>
            <value>
                <elementReference>var_ToDo</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_For_Status</targetReference>
        </connector>
        <filterFormula>OR(ISNEW(), ISCHANGED({!$Record.Status__c}))</filterFormula>
        <object>Jira__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_Done</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_InProgress</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_InQC</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_ToDo</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
